<div class="container">
<h2 class="pt-5 pl-5">Les Recettes </h2>
  <div class="card-board pb-5">
    <% @recipes.each do |recipe| %>
      <div class="recipe-card">
        <% if recipe.photo.attached? %>
          <div class="recipe-card-image" style="background-image: url('<%= cl_image_path recipe.photo.key, crop: :fill %>')"></div>
        <% else %>
          <div class="recipe-card-image" style="background: url('<%= "https://unsplash.com/photos/3lsReF3Twjc"%>')"></div>
        <% end %>
        <div class="card-text">
          <h1><%= link_to recipe.name, recipe_path(recipe) %></h1>
          <div class="card-info d-flex justify-content-around">
            <p><%= recipe.votes %></p>
            <p>suggéré par <strong><%= recipe.user.username %></strong></p>
          </div>
          <%= link_to "Voter pour", vote_recipe_path(recipe), method: :patch, class: "btn button-invisible" %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Ajouter une recette", new_recipe_path, class: "btn btn-primary btn-lg" %>
</div>
