<div class="container">
<h2 class="pt-5 pl-5">Les Chambres </h2>
  <div class="card-board pb-5">
    <% @rooms.each do |room| %>
      <% if current_user.room_id == room.id  %>
        <div class="recipe-card">
          <div class="recipe-card-image" style="background-image: url('<%= cl_image_path room.photo.key, crop: :fill %>')"></div>
          <div class="card-text">
            <h1><%= link_to room.name, room_path(room) %></h1>
            <div class="card-info d-flex justify-content-around">
              <p>C'est ta chambre</p>
              <p> <%= room.users.count %>/<%= room.capacity %></p>
            </div>
          </div>
        </div>
      <% else %>
        <div class="recipe-card">
          <div class="recipe-card-image" style="background-image: url('<%= cl_image_path room.photo.key, crop: :fill %>')"></div>
          <div class="card-text">
            <h1><%= link_to room.name, room_path(room) %></h1>
            <div class="card-info d-flex justify-content-around">
              <% if room.users.count == 2  %>
                <p>Cette chambre est pleine</p>
              <% else %>
              <p>Il reste de la place</p>
              <% end %>
              <p><%= room.users.count %>/<%= room.capacity %></p>
            </div>
            <% if room.users.count < 2  %>
            <%= link_to "Choisir cette chambre", join_room_path(room), method: :patch, class: "btn button-invisible btn-room" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
